@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Noto+Naskh+Arabic:wght@400..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Mirza:wght@400;500;600;700&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Mirza:wght@400;500;600;700&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



:root {
    --accent: #218d27;
    --bg-dark: #181818;
    --text-light: #ffffff;
    --text-muted: #cccccc;
  }
  
  .projects-section {
    padding: 5rem 2rem;
    background-image: url('../images/mesh-148.png');
    background-size: cover;
    background-position: center;
    color: var(--text-light);
  }
  
.section-title{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 4rem;
    font-family: "Lateef", serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .project-block {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 3rem;
    
  }
 

  .project-text {
    flex: 1 1 50%;
    max-width: 700px;
  }

  /* --------------------------- */
  .project-text-farm , .project-text-masjid{
    margin: 0 auto;
  }
  .project-text-farm , .project-text-hos h3 , .project-text-masjid h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #078db3;
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
  }
  .project-text-farm , .project-text-hos p , .project-text-masjid p{
    font-size: 1rem;
    line-height: 1.7;
    color: var(--text-muted);
    font-family: "Lateef", serif;
  font-weight: 400;
  }
/* ----------------------------------- */
 .project-text-hos{
    max-width: 750px;
 } 
.project-text-farm{
 margin-top: 2rem;
}

.project-text-farm h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #078db3;
    font-family: "Amiri", serif;
  font-weight: 500;
  font-style: normal;

  }
  
  .project-text p {
    font-size: 2rem;
    line-height: 1.7;
    color: var(--text-muted);

  }
  
  .project-img-farm {
   
    display: flex;
    flex-direction: row;
margin: 0 auto;
gap: 1rem;
    max-width: 100%;
  }
  .project-img-farm img{
    width: 30vw;
    height: 45vh;
    
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);

  }
  .project-img-farm-2{
   
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;

  }
  .project-img-farm-2 img{
    margin-top: 0.7rem;
    width: 30vw;
    height: 45vh;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);

  }
  /* ----------------------------------------- */
  .project-img-masjid{
    flex: 1 1 40%;
    display: grid;
  grid-template-columns: 1fr 1fr;   /* two equal columns */
margin: 0 auto;
gap: 1rem;
border-radius: 20px;
    max-width: 95%;
    max-height: auto;
}
  .project-img-masjid img{
    
    width:  45vw;
    height: 45vh;
    object-fit: cover;

  }
    /* ------------------------------------- */
.project-img-canal{
    display: flex;
  grid-template-columns: 2fr 2fr;   
margin: 0 auto;
gap: 1rem;
margin-top: 2rem;
margin-bottom: 2rem;
    max-width: 100%;
  }
.project-img-canal img{
    width:  25vw;
    height: 40vh;
    
    object-fit: cover;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}

  /* ------------------------------------- */
  .project-img {
    flex: 1 1 50%;
    max-width: 30vw;
    
    
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  }
  
  .project-img img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    object-fit: cover;
    flex-direction: column;
  }


.project-block.awards-block {
    padding: 4rem 2rem;
    border-radius: 16px;
  }
  
  .project-text-award {
    max-width: 1500px;
  }
  .project-text-award h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #078db3;
    font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;

  }
.project-text-award p{
    font-size: 2rem;
    margin-bottom: 3rem;
}
  .award-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  justify-content: center; 
  gap: 1.5rem;
  max-width: 1800px;     
  margin-left: 19%;
  align-items: center;
}
  
  .award-card {
    background-color: #042434;
    padding: 1rem;
    border-radius: 10px;
    width: 90vw;
    max-width: 490px;
   overflow: hidden;
     height: auto; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .award-card h4 {
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #07e6f6;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.8rem;
  }
  
  .award-date {
    font-size: 1.8rem !important;
    font-weight: 500;
    color: #0282c2 !important;
    background-color: #0c3447 !important;
    padding: 1rem;
  }
  
  .award-summary,
  .award-significance {
    font-size: 1.4rem !important;
        margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--text-muted);
  }
  
  .award-card img {
    width: 100%;
    height: 40vh;
    padding: 1rem;
    border: 1px solid #829806;
    object-fit:cover;
    margin-bottom: 1rem;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }

  .honors-section {
    padding: 5rem 2rem;
    background-color: #0f1a20;
    color: var(--text-light);
  }
  
  .honors-intro {
    max-width: 900px;
    margin: 0 auto 3rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-muted);
  }
  
  .honor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .honor-card {
    background-color: #1b2e35;
    padding: 1.5rem;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  .honor-card h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--accent);
    font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;

  }
  
  .honor-date {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ccc;
  }
  
  .honor-desc {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-muted);
  }
  



  body[dir="ltr"]  .section-title {
    font-family: "Amiri", serif;
    font-weight: 600;
    font-style: normal;
      font-size: 3.4rem;
  }

  body[dir="ltr"] .project-block h3 {
    font-family: "Amiri", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.2rem;
    text-align: start;
}
body[dir="ltr"] .project-block p {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: justify;
}



  body[dir="rtl"]  .section-title {
    font-family: "Amiri", serif;
    font-weight: 600;
    font-style: normal;
      font-size: 2.7rem;
  }
  
  body[dir="rtl"] .project-block h3 {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    text-align: start;
}

body[dir="rtl"] .project-block p {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  text-align: justify;
}



/* ===== Mobile (Phones): up to 480px ===== */

@media (max-width: 480px) {


  .project-img-farm-2
  {
  flex-direction: column;
  align-items: center;
  }
    
    .project-img-farm-2 img
    
   {
      width: 90vw;
      height: 30vh;
    }
  
   .project-img-farm img
    
   {
      width: 90vw;
      height: 30vh;
    }
  
    .project-img-masjid{
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
    .project-img-masjid img{
      width: 80vw;
      height: 20vh;
      object-fit: cover;
      
    }
    .project-img-canal img {
      width: 80vw;
      height: 80vh;
    }
  
   .project-img {
    flex: 1 1 50%;
    margin: 0 auto;
    max-width: 90vw;
    }
    .project-img-canal{
      display: grid;
      grid-template-columns: 1fr;
    }
    .project-img-canal img{
      width:  80vw;
      height: 33vh;
    }
}


/* ===== Small Tablets: 481px – 767px ===== */

@media (min-width: 481px) and (max-width: 767px) {
  .section-title {
    font-size: 2.6rem;
  }

  .project-text h3,
  .project-text-farm h3,
  .project-text-masjid h3,
  .project-text-hos h3,
  .project-text-award h3 {
    display: flex;
    justify-content: center;
  font-size: 2.1rem;
  }

  .project-text ,
  .project-text-farm p,
  .project-text-masjid p,
  .project-text-hos p,
  .project-text-award p {
    max-width: 100%;
    text-align: justify;
    font-size: 23px;
  }

  .project-img-farm img,
  .project-img-farm-2 img
 {
  
    width: 90vw;
    height: 30vh;
  }

  .project-img-masjid{
    margin: 0 auto;
    grid-template-columns: 1fr !important;
  }
  .project-img-masjid img{
    width: 84vw;
    height: 30vh;
    
  }
  
  .project-img-canal img {
    width: 90vw;
    height: 35vh;
  }

  .award-card img {
    height: auto;
  }

  .project-img-farm,
  .project-img-farm-2,
  .project-img-masjid,
  .project-img-canal {
    flex-direction: column;
    align-items: center;
  }

  .project-img {
    max-width: 100%;
  }

  .project-img img {
    width: 100%;
    height: auto;
  }

  .honor-card {
    width: 100%;
    max-width: 90vw;
  }

  .honors-intro {
    font-size: 1.3rem;
    padding: 0 1rem;
  }
  body[dir="rtl"]  .section-title {
    font-family: "Amiri", serif;
    font-weight: 600;
    font-style: normal;
      font-size: 2.7rem;
  }
  
  body[dir="rtl"] .project-block h3 {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.6rem;
    text-align: center;
}

body[dir="rtl"] .project-block p {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.9rem;
  text-align: justify;
}
body[dir="ltr"] .project-block p {
    font-size: 1.4rem;
    text-align: justify;
  
  }
  body[dir="ltr"] .project-block h3 {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.7rem;
    text-align: center;
    
    }


}

/* ===== Tablets: 768px – 1023px ===== */

@media (min-width: 768px) and (max-width: 1023px) {

  .section-title {
    font-size: 2.6rem;
  }

  .project-text h3,
  .project-text-farm h3,
  .project-text-masjid h3,
  .project-text-hos h3,
  .project-text-award h3 {
    display: flex;
    justify-content: center;
  font-size: 2.1rem;
  }

  .project-text ,
  .project-text-farm p,
  .project-text-masjid p,
  .project-text-hos p,
  .project-text-award p {
    max-width: 100%;
    text-align: justify;
    font-size: 23px;
  }

  .project-img-farm img,
  .project-img-farm-2 img
 {
  
    width: 90vw;
    height: 30vh;
  }

  .project-img-masjid{
    margin: 0 auto;
    grid-template-columns: 1fr !important;
  }
  .project-img-masjid img{
    width: 88vw;
    height: 30vh;
    
  }
  
  .project-img-canal img {
    width: 90vw;
    height: 35vh;
  }

  .award-card img {
    height: auto;
  }

  .project-img-farm,
  .project-img-farm-2,
  .project-img-masjid,
  .project-img-canal {
    flex-direction: column;
    align-items: center;
  }

  .project-img {
    max-width: 100%;
  }

  .project-img img {
    width: 100%;
    height: auto;
  }

  .honor-card {
    width: 100%;
    max-width: 90vw;
  }

  .honors-intro {
    font-size: 1.3rem;
    padding: 0 1rem;
  }
  body[dir="rtl"]  .section-title {
    font-family: "Amiri", serif;
    font-weight: 600;
    font-style: normal;
      font-size: 2.7rem;
  }
  
  body[dir="rtl"] .project-block h3 {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.6rem;
    text-align: center;
}

body[dir="rtl"] .project-block p {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.9rem;
  text-align: justify;
}
body[dir="ltr"] .project-block p {
    font-size: 1.4rem;
    text-align: justify;
  
  }
  body[dir="ltr"] .project-block h3 {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.7rem;
    text-align: center;
    
    }
}

/* ===== Small Laptops / Desktops: 1024px – 1439px ===== */

/* @media (min-width: 1024px) and (max-width: 1439px) {

  .project-img-farm,
  .project-img-farm-2,
  .project-img-masjid,
  .project-img-canal {
    flex-direction: column;
    align-items: center;
  }


  .project-img-farm img,
  .project-img-farm-2 img
 {
  
    width: 90vw;
    height: 55vh;
  }

  .project-img-masjid{
  margin: 0 auto;
    grid-template-columns: 1fr !important;
  }
  .project-img-masjid img{
    width: 80vw;
    height: 49vh;
    
  }
  
  .project-img-canal img {
    width: 70vw;
    height:64vh;
  }


  .project-img {
    max-width: 100%;
  }

  .project-img img {
    width: 100%;
    height: auto;
  }

  body[dir="rtl"]  .section-title {

      font-size: 3rem;
  }
  
  body[dir="rtl"] .project-block h3 {
   
    font-size: 3.3rem;
    text-align: center;
}

body[dir="rtl"] .project-block p {

  font-size: 2.4rem;
  text-align: justify;
}

body[dir="rtl"]  .project-img {
  flex: 1 1 50%;
      max-width: 55vw;
      margin: 0 auto;
}
body[dir="rtl"] .project-text-hos{
  max-width: 100%;
}

body[dir="rtl"] .project-img-masjid {
  margin: 0 auto;
  width: 100%;
  max-width: 80vw;
}

/* ------------------------------------------- */
/* 
body[dir="ltr"] .project-block p {
  
    font-size: 1.8rem;
    text-align: justify;
  
  }
  body[dir="ltr"] .project-block h3 {
   
    font-size: 3.7rem;
    }
    body[dir="ltr"] .project-text-hos{
      max-width: 100%;
    }
    body[dir="ltr"] .project-img {
      flex: 1 1 50%;
      max-width: 55vw;
      margin: 0 auto;
        }

    body[dir="ltr"] .project-img img {
       width: 100%;
    }

    body[dir="ltr"] .project-img-masjid {
      margin: 0 auto;
      width: 100%;
      max-width: 80vw;
}} */

 




/* ===== Large Desktops: 1440px and up ===== */

@media (min-width: 1440px){


  .project-img-farm img,
  .project-img-farm-2 img
 {
  
    width: 30vw;
    height: 50vh;
  }

  .project-img-masjid{
    margin: 0 auto;
    grid-template-columns: 1fr !important;
  }
  .project-img-masjid img{
    width: 80vw;
    height: 55vh;
    
  }
  
  .project-img-canal img {
    width: 30vw;
    height:44vh;
  }


  .project-img {
    max-width: 100%;
  }

  .project-img img {
    width: 70vw;
    height: auto;
  }

  body[dir="rtl"]  .section-title {

      font-size: 3rem;
  }
  
  body[dir="rtl"] .project-block h3 {
   
    font-size: 3.3rem;
    text-align: center;
}

body[dir="rtl"] .project-block p {

  font-size: 2.4rem;
  text-align: justify;
}

body[dir="rtl"]  .project-img {
  flex: 1 1 50%;
      max-width: 55vw;
      margin: 0 auto;
}
body[dir="rtl"] .project-text-hos{
  max-width: 100%;
}

body[dir="rtl"] .project-img-masjid {
  margin: 0 auto;
  width: 100%;
  max-width: 80vw;
}

/* ------------------------------------------- */
body[dir="ltr"] .project-block p {
  
    font-size: 1.8rem;
    text-align: justify;
  
  }
  body[dir="ltr"] .project-block h3 {
   
    font-size: 3.9rem;
    }
    body[dir="ltr"] .project-text-hos{
      max-width: 100%;
    }
    body[dir="ltr"] .project-img {
      flex: 1 1 50%;
      max-width: 40vw;
      margin: 0 auto;
        }

    body[dir="ltr"] .project-img img {
       width: 100%;
    }

    body[dir="ltr"] .project-img-masjid {
      margin: 0 auto;
      width: 100%;
      max-width: 80vw;
   }

}




